#socialmedia{
	padding: 10px;
	height:155px;
	margin: 25px 10px;
	border: solid #D0D0D0 1px;
	background: #F8F8F8;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	overflow: visible;
}
.sharrre .button{
    float:left;
    width:60px;
    padding: 2px;
    height: 80px;
 }