
<!-- ****************** HEADER SECTION ******************************** -->
<header id="headerSection" class="absolute">
	<div id="topMenu"><h2>Java micro-benchmarks made easy.</h2></div>
	<div class="title">
		<div id="title"><img src="images/logox64.png" ></img><a href="index.html">JMicrobenchs.</a></div>	
		<div class="links">
			<a href="https://github.com/M-jerez/JMicrobenchs" target="blank" id="github">
				View project on <strong>GitHub</strong>
			</a>
			
		</div>			
	</div>	
</header>
<!-- ****************** HEADER SECTION ******************************** -->
